# For Loop Gauntlet

The goal of this assignment is to make you a master of utilizing for loops. complete all the for loop challenges on the paper. please read each challenge carefully and make sure that your for loops display exactly what is asked. if you finish them all, try the bonus challenge.

## Single for-loops

Write a for loop to do each the following

Display all numbers from 0 to 100

In [5]:
# Display all numbers from 0 to 100 

for x in range(1, 11):
    for y in range(1, 11):
        print(x*y, end = " ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

Display all numbers from 100 to 0

In [13]:
# Display all numbers from 100 to 0 
for i in range(10):         # Outer loop for rows
    for j in range(10):     # Inner loop for columns
        print(f"{100 - (i * 10 + j):3}", end=" ")
    print()  # Newline after each row

100  99  98  97  96  95  94  93  92  91
 90  89  88  87  86  85  84  83  82  81
 80  79  78  77  76  75  74  73  72  71
 70  69  68  67  66  65  64  63  62  61
 60  59  58  57  56  55  54  53  52  51
 50  49  48  47  46  45  44  43  42  41
 40  39  38  37  36  35  34  33  32  31
 30  29  28  27  26  25  24  23  22  21
 20  19  18  17  16  15  14  13  12  11
 10   9   8   7   6   5   4   3   2   1

Display all even numbers from 2 to 100

In [ ]:
# Display all even numbers from 2 to 100

Display all odd numbers from 1 to 99

In [ ]:
# Display all odd numbers from 1 to 99

Display all numbers from 1 to 40. if the number is odd, print "odd" next to the number. if the number is even, print "even" next to the number.  
eg:  
 1 is odd  
 2 is even  
 3 is odd  
 4 is even  
 5 is odd...etc.

In [ ]:
# Display all numbers from 1 to 500.

Display all multiples of 7 from 0 to 70

In [ ]:
# Display all multiples of 7 from 0 to 777

Print all the years you were alive and how old you were in each. e.g. "in 1979, i was 2 years old." (for a really old person)

In [ ]:
# Your Code Here

## Nested for-loops

Write nested for loops (a for loop inside another for loop). Here is an example of nested loops.

In [3]:
# Examples of Nested Loops

for i in range(3):
    for j in range(3):
        print(f"({i},{j})")
    print()

(0,0)
(0,1)
(0,2)

(1,0)
(1,1)
(1,2)

(2,0)
(2,1)
(2,2)

For your first nested loop, display this output:  

```
0  0  
0  1  
0  2  
1  0  
1  1  
1  2  
2  0  
2  1  
2  2
```

In [ ]:
# Display the output shown above

Display the numbers 1 through 9 in a 3x3 square grid like this:  

```
1  2  3  
4  5  6  
7  8  9  
```

In [12]:
# Display the numbers 1 through 9 in a 3x3 square grid
num = 1

# for x in range(1):
#     for y in range(3):
#         for z in range(3):
#             print(num, end = " ")
#             num+=1
#         print()

# for x in range(10):
#     for y in range(10):
#         print("*", end = " ")
#     print()






# num = 1

# for x in range(3):
#     for y in range(3):
#         print(num, end = " ")
#     print()

hello = "Hello"
world = " World"
print(hello+world)

Hello World

Display the numbers 1 through 100 in a 10x10 square grid.

In [ ]:
# Display the numbers 1 through 100 in a 10x10 square grid.

Display the following output:  

```
*  
*  *  
*  *  *  
*  *  *  *  
*  *  *  *  *  
*  *  *  *  *  *
```

In [ ]:
# Display the asterisk pattern shown above

*
* *
* * *
* * * *
* * * * *
* * * * * *